<!DOCTYPE html>
<html>
<head>
    <title>ParkVision AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <div class="logo">PARKVISION AI</div>
    <div class="links">
 <a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a>
<a href="/live" class="{% if request.path == '/live' %}active{% endif %}">Live System</a>
<a href="/how" class="{% if request.path == '/how' %}active{% endif %}">How It Works</a>
<a href="/team" class="{% if request.path == '/team' %}active{% endif %}">Team</a>
    </div>
</nav>

<div class="content">
    {% block content %}{% endblock %}
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<footer style="text-align:center;padding:20px;background:#0f172a;border-top:1px solid #1e293b;">
    ParkVision AI • Smart Parking Intelligence System • 2026
</footer>
</body>
</html>
